<!DOCTYPE html>
<html>
	<head> 
		<meta charset="UTF-8">
		  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../plug_in/normalize.css" />
		<link rel="stylesheet" type="text/css" href="style/usercenter.css" />
	</head>
	<body>
		<div class="usercenterHeadBox">
			<div class="userHeadIm">
				<img src="img/headimg.png" id="userCenterImg" />
			</div>
			<div class="userMessage">
				<div id="userCenterName"></div>
				<span>Tel:<i id="userCenterId"></i></span>
			</div>
			<div class="userLeveIm">
				<img id="userCenterLevelImg" src="img/level_01.png" />
				<span id="userCenterLevelText"></span>
			</div>
			<div class="userGoTo">
				<img src="../../img/leftGo.png" />
			</div>
		</div>
		<ul class="userNavUl">
			<!--<li id="bonus">
				<div class="userNavIcon">
					<img src="img/navicon1.png" />
				</div>
				<span>我的投入/分红</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>-->
			<li id="adver">
				<div class="userNavIcon">
					<img src="img/navicon10.png" />
				</div>
				<span>我的广告</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>
			<li id="blockNode" style="display:none;">
				<div class="userNavIcon">
					<img src="img/navicon9.png" />
				</div>
				<span>区块节点</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>
			<li id="hbRecod">
				<div class="userNavIcon">
					<img src="img/navicon11.png" />
				</div>
				<span>我的红包</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>
			<li id="order">
				<div class="userNavIcon">
					<img src="img/navicon2.png" />
				</div>
				<span>资产明细</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>
			<!--<li id="team">
				<div class="userNavIcon">
					<img src="img/navicon3.png" />
				</div>
				<span>我的团队</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>-->
			<li id="safetyCenter">
				<div class="userNavIcon">
					<img src="img/navicon4.png" />
				</div>
				<span>安全设置</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>
			<li id="invite">
				<div class="userNavIcon">
					<img src="img/navicon5.png" />
				</div>
				<span>邀请好友</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>
			<li id="about">
				<div class="userNavIcon">
					<img src="img/navicon6.png" />
				</div>
				<span>关于我们</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>
			<!--<li id="lotteryList">
				<div class="userNavIcon">
					<img src="img/navicon7.png" />
				</div>
				<span>3D抽奖记录</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>-->
			<!--<li id="lotteryResult">
				<div class="userNavIcon">
					<img src="img/navicon8.png" />
				</div>
				<span>3D开奖结果</span>
				<div class="userNavLeftGo">
					<img src="../../img/leftGo.png" />
				</div>
			</li>-->
		</ul>
	</body>
	<script type="text/javascript" src="../../plug_in/zepto.min.js"></script>
	<script type="text/javascript" src="../../plug_in/touch.js"></script>
	<script type="text/javascript" src="../../plug_in/public.js"></script>
	<script type="text/javascript" src="script/usercenter.js"></script>
</html>
