.m-forget {
  width: 100%;
  min-height: 100%;
  padding-top: 30px;
  background: #1d1d25;
  background: linear-gradient(#272936 0%, #18181d 100%);
  background: -webkit-linear-gradient(#272936 0%, #18181d 100%);
}

.m-forget .u-return {
  position: absolute;
  top: 30px;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.m-forget .u-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.m-form {
  padding: 0 20px;
}

.m-form .u-input {
  position: relative;
  height: 52px;
}

.m-form .u-input>input {
  width: 100%;
  height: 52px;
  line-height: 51px;
  border-bottom: 1px solid #555869;
  color: #555869;
  font-size: 14px;
}

.m-form .u-input>input:focus {
  outline: none;
  color: #f6ab10;
}

.m-form .u-input>span {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 51px;
  line-height: 51px;
  text-align: center;
}

.m-form .u-sms {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 80px;
  height: 51px;
  line-height: 51px;
  text-align: center;
  color: #f6ab10;
  font-size: 12px;
  outline: none;
}

.m-form .u-sms.u-countdown {
  color: #555869;
}

.m-form .u-btn {
  margin-top: 40px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  background: #f6ab10;
  color: #343743;
  font-size: 14px;
}