<!DOCTYPE html>
<html>
	<head> 
		<meta charset="UTF-8">
		  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../plug_in/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../../plug_in/public_style.css" />
		<link rel="stylesheet" type="text/css" href="style/bulletin.css" />
	</head>
	<body>
		<div class="spaceHeadBox" style="background:inherit;">
			<a id="kingBack"></a>
			<h1>公告</h1>
		</div>
		 <div class="bulletinListBox">
		 	<ul class="bulletinUl" id="bulletinList">
		 		<!--<li>
		 			<div>BITCode分红奖励机制将于10月28号正式开启</div>
		 			<span>2019/01/25 18:56</span>
		 		</li>-->
		 		<!--<div class="ListNotData">没有数据！</div>-->
		 	</ul>
		 </div>
	</body>
	<script type="text/javascript" src="../../plug_in/zepto.min.js"></script>
	<script type="text/javascript" src="../../plug_in/touch.js"></script>
	<script type="text/javascript" src="../../plug_in/public.js"></script>
	<script type="text/javascript" src="script/bulletin.js"></script>
</html>
