.m-aboutUs {
  width: 100%;
  min-height: 100%;
  padding: 25px 20px;
  background: rgba(39, 40, 54, 1);
  background: linear-gradient(180deg, rgba(39, 40, 54, 1) 0%, rgba(24, 25, 29, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(39, 40, 54, 1) 0%, rgba(24, 25, 29, 1) 100%);
}

.m-title {
  position: relative;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.m-title>span.u-return {
  position: absolute;
  top: 0;
  left: -15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.m-title .u-title {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.m-bd>li {
  height: 51px;
  line-height: 50px;
  border-bottom: 1px solid #343743;
  color: #fff;
  font-size: 14px;
}

.m-bd>li img {
  margin-top: 17px;
}

.m-bd>li>span {
  display: inline-block;
}

.m-bd>li .u-version {
  position: relative;
  margin-right: 5px;
  color: #fff;
  font-size: 12px;
}

.m-bd>li .u-spot {
  color: #f24646;
}

.m-bd>li .u-spot:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: -4px;
  background: #f24646;
}