<!DOCTYPE html>
<html>
	<head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../plug_in/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../../plug_in/swiper-3.4.2.min.css" />
		<link rel="stylesheet" type="text/css" href="../../plug_in/public_style.css" />
		<link rel="stylesheet" type="text/css" href="style/gameview.css" />
	</head>
	<body>
		<div class="gameviewHead"> 
			<img src="img/logo.png" />
		</div>
		<!--轮播部分-->
		<div class="gameviewSw swiper-container">
		    <div class="gameviewSwInBox swiper-wrapper">
		       <!-- <div class="swiper-slide"><img src=""></div>-->
		    </div>
		</div>
		<!--小菜单-->
		<div class="gameviewLittel">
			<div class="gameHbIn">
				<div><img src="img/litter2.png" /></div>
				<span style="color:#FFFFFF">红包扫雷</span>
			</div>
			<div id="gameviewCtocNav">
				<div><img src="img/litter1.png" /></div>
				<span>C2C</span>
			</div>
			<div class="NotOpen">
				<div><img src="img/litter1.png" /></div>
				<span>敬请期待</span>
			</div>
			<div class="NotOpen">
				<div><img src="img/litter1.png" /></div>
				<span>敬请期待</span>
			</div>
		</div>
		<!--滚动公告-->
		<div class="gameviewNotice">
			<ul class="gameviewNoticeCont">
				 
			</ul>
		</div>
		<!--红包游戏入口部分-->
		<div class="gameHbIndex gameHbIn">
			<img src="img/gamehbindex.png" />
		</div>
		<!--红包游戏福利房间入口-->
		<div class="gameviewFuli" data-type="0" data-idName="0">
			<img src="../../spaceview/game/img/gameDbHead.png" />
		</div>
	</body>
	<script type="text/javascript" src="../../plug_in/zepto.min.js"></script>
	<script type="text/javascript" src="../../plug_in/touch.js"></script>
	<script type="text/javascript" src="../../plug_in/swiper-3.4.2.min.js"></script>
	<script type="text/javascript" src="../../plug_in/public.js"></script>
	<script type="text/javascript" src="script/gameview.js"></script>
</html>
